@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap'); 

:root {
    background-color:rgb(116, 190, 193);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Nova Mono', monospace;
}

h1 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 35px;
}

h2 {
    
}
