@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap'); 

:root {
    background-color:rgb(116, 190, 193);
}

/* universal settings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Nova Mono', monospace;
}

h1 {
    font-size: 35px;
    color: #fff;
    margin-bottom: 35px;
}

h2 {
    font-size: 20px;
    margin-bottom: 16px;
}

.container {
    width: 75vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px ;
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}


.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;

}

/* styling of btn */
.btn {
    font-size: 32px;
    padding: 2px 0;
    width: 400px;
    text-align: center;
    margin-bottom:10px;
    text-decoration: none;
    color: rgb(9,113,121);
    background:rgb(27, 64, 66);
    border-radius: 6px;
}

/* hover effects */
.btn:hover {
    cursor: pointer;
    box-shadow: 0 3.2px 16.2px 0 rgb(237, 150, 100);
    transition:transform 150ms;
    transform: scale(1.03); 
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn {
    background: rgb(227, 105, 19); 
}

#highscore-btn:hover {
    box-shadow: 0 3.2px 16.2px 0 rgb(9,113,121);
}

/* End Page CSS*/

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
}

input {
    margin-bottom: 12px;
    width: 300px;
    padding: 14px;
    font-size: 16px;
    border: none;
    box-shadow: 0 4px 12px 0 green;
}

input::placeholder {
    color: #aaa;
}

#username {
    margin-bottom: 30px;
    width: 100%;
    outline: none;
}

#end-text {
    margin-bottom: 30px;
    width: 100%;
    outline: none;

}

#saveScoreBTN {
    border: none;
  
    
}